html{
	padding-top: 60px;
}
.container{
	border: 3px solid;
}
.borderrouge{
	border: 3px solid red;
	padding: 10px;
	min-height: 100px;
}
.borderverte{ 
	border: 3px solid green;
	padding: 10px;
	min-height: 80px;
}
.borderbleue{ 
	border: 3px solid blue;
	padding: 10px;
	min-height: 500px;
}
.borderorange{ 
	border: 3px solid orange;
	padding: 10px;
	min-height: 50px;
}