p{
  display:inline-block;
  font-size: 0.6rem;
  color: #000;
}

 .borderblue
,.bordergreen
,.borderyellow
,.bordergrey
,.borderorange
{
	border: 1px solid black;
}
.borderblue{
  height: 800px;

}
.bordergreen{
 box-shadow: 5px #333;

 height: 400px;
}
.borderyellow{
 box-shadow: 5px #333;
;
 height: 400px;
}
.bordergrey{
 box-shadow: 5px #333;

 height: 200px;
}
.borderorange{
 box-shadow: 5px #333;

 height: 200px;
}
h2{
  display:inline-block;
  font-size:1.0rem;
  color: #C55394;
}
.button{
	font-size: 0.8rem;
}
strong{
  text-align: center;

}
